<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mostrar.css">
    <link rel="stylesheet" href="../css/modal.css">
</head>

<body>

    <div class="barra-lateral">
        <div class="nombre-pagina">
            <ion-icon id="cloud" name="cloud-outline"></ion-icon>
            <span>chocoflow</span>
        </div>

        <div class="boton-crear">
            <button class="boton">
                <ion-icon name="add-outline"></ion-icon>
                <a href="formulario"><span>Añadir producto</span></a>
            </button>
        </div>

        <div class="navegacion-side">
            <nav class="navegacion">
                <ul>
                    <li>
                        <a href="formulario">
                            <ion-icon name="home-outline"></ion-icon>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="mostrar">
                            <ion-icon name="file-tray-stacked-outline"></ion-icon>
                            <span>Productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="mostrar">
                            <ion-icon name="file-tray-stacked-outline"></ion-icon>
                            <span>Productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/evaCua/formulario/formulario.html">
                            <ion-icon name="settings-outline"></ion-icon>
                            <span>Contacto
                            </span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>


        <div class="linea"></div>

        <div id="modo-oscuro" class="modo-oscuro">
            <div class="info">
                <ion-icon name="moon-outline"></ion-icon>
                <span>Modo oscuro</span>
            </div>
            <div class="switch">
                <div class="base">
                    <div class="circulo">

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="main">
        <div class="topbar">
            <div class="menu-bton">
                <ion-icon id="menu" name="menu-outline"></ion-icon>
            </div>

        </div>

        <div class="stadist">
            <% usuarios.forEach(usuario => { %>
                <div class="card">
                    <div class="img-pro">
                        <img src="<%= usuario.imagen %>" id="imagenProducto2-<%= usuario.id %>" alt="Imagen del producto">
                    </div>
                    <div class="info-pro">
                        <div class="titulo-pro">
                            <h2>
                                <%= usuario.producto %>
                            </h2>
                            <div class="card-linea"></div>
                        </div>
                        <div class="datos-pro">
                            <div class="stock">
                                <h3>STOCK</h3>
                                <p>
                                    <%= usuario.stock %>
                                </p>
                            </div>
                            <div class="precio">
                                <h3>PRECIO</h3>
                                <p>
                                    <%= usuario.precio %>
                                </p>
                            </div>
                            <div class="marca">
                                <h3>MARCA</h3>
                                <p>
                                    <%= usuario.marca %>
                                </p>
                            </div>
                            <div class="categoria">
                                <h3>CATEGORIA</h3>
                                <p>Bebidas</p>
                            </div>
                        </div>
        
                        <!-- Botón de editar en la tarjeta del producto -->
                        <button data-id="<%= usuario.id %>" data-nombre="<%= usuario.producto %>"
                                data-precio="<%= usuario.precio %>" data-stock="<%= usuario.stock %>"
                                data-marca="<%= usuario.marca %>" onclick="editarProducto('<%= usuario.id %>')">Editar</button>
        
                        <!-- Modal (dialog) para editar el producto, ahora con un id único por producto -->
                        <dialog class="container" id="modal-editar-<%= usuario.id %>">
                            <div class="form-container sign-in" id="form-editar">
                                <form onsubmit=" guardarCambios(event, '<%= usuario.id %>')"> 
                                    <h1>Editar Producto</h1> 
                                    <input type="hidden" name="id" id="id-editar-<%= usuario.id %>">
                                    <input type="text" id="nombre-<%= usuario.id %>" name="nombre" placeholder="Nombre del producto">
                                    <input type="text" id="marca-<%= usuario.id %>" name="marca" placeholder="Marca">
                                    <input type="number" id="precio-<%= usuario.id %>" name="precio" placeholder="Precio">
                                    <input type="number" id="stock-<%= usuario.id %>" name="stock" placeholder="Stock">
                                    <button id="guardar-cambios-<%= usuario.id %>" type="submit">Guardar Cambios</button>
                                    <button type="button" onclick="closeDialog('<%= usuario.id %>')"">Cerrar</button>
                                </form>
                            </div>
                            <div class="toggle-container">
                                <div class="toggle-panel toggle-right">
                                    <div class="imagenProduct">  
                                        <!-- Imagen del producto cargada dinámicamente con JavaScript -->
                                        <img src="<%= usuario.imagen %>" id="imagenProducto-<%= usuario.id %>" data-url="<%= usuario.imagen %>" alt="Imagen del producto">
                                    </div>
                                    <button id="register-<%= usuario.id %>" onclick="activarCargarImagen('<%= usuario.id %>')">Cambiar Imagen</button>
                                    <input type="file" id="nuevaImagen-<%= usuario.id %>" class="hidden" onchange="cambiarImagen(event, '<%= usuario.id %>')">
                                </div> 
                            </div>
                        </dialog>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/editarProducto.js"></script>
    <script src="../js/modalEditarProducto.js"></script>
</body>

</html>