<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mostrar.css">
    <link rel="stylesheet" href="../css/modal.css">
</head>

<body>

    <div class="barra-lateral">
        <div class="nombre-pagina">
            <ion-icon id="cloud" name="cloud-outline"></ion-icon>
            <span>chocoflow</span>
        </div>

        <div class="boton-crear">
            <button class="boton">
                <ion-icon name="add-outline"></ion-icon>
                <a href="formulario"><span>Añadir producto</span></a>
            </button>
        </div>

        <div class="navegacion-side">
            <nav class="navegacion">
                <ul>
                    <li>
                        <a href="formulario">
                            <ion-icon name="home-outline"></ion-icon>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="mostrar">
                            <ion-icon name="file-tray-stacked-outline"></ion-icon>
                            <span>Productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="mostrar">
                            <ion-icon name="file-tray-stacked-outline"></ion-icon>
                            <span>Productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/evaCua/formulario/formulario.html">
                            <ion-icon name="settings-outline"></ion-icon>
                            <span>Contacto
                            </span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>


        <div class="linea"></div>

        <div id="modo-oscuro" class="modo-oscuro">
            <div class="info">
                <ion-icon name="moon-outline"></ion-icon>
                <span>Modo oscuro</span>
            </div>
            <div class="switch">
                <div class="base">
                    <div class="circulo">

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="main">
        <div class="topbar">
            <div class="menu-bton">
                <ion-icon id="menu" name="menu-outline"></ion-icon>
            </div>
            <button onclick="eliminarProductosSeleccionados()"><ion-icon name="trash-outline"></button>
            <button id="logout">salir</button>
        </div>

        <div class="stadist">
            <% usuarios.forEach(usuario=> { %>
                <div class="card" onclick="toggleCheckbox(this)">
                    <label class="custom_checkbox">
                        <input type="checkbox" class="select-product" value="<%= usuario.id %>" id="label-<%= usuario.id %>">
                        <span class="checkmark"></span>
                    </label>
                    <div class="product-img-container">
                        <img src="<%= usuario.imagen %>" id="imagenProducto2-<%= usuario.id %>"
                                    alt="Imagen del producto" class="product-img">
                    </div>
                    <div class="product-info">
                        <h3 id="product-<%= usuario.id %>" class="product-name"><%= usuario.producto %></h3>
                        <p id="stockk-<%= usuario.id %>" class="product-stock">Stock: <%= usuario.stock %></p>
                        <p id="category-<%= usuario.id %>" class="product-category">Categoría: <%= usuario.categoria %></p>
                        <p id="marc-<%= usuario.id %>" class="product-brand">Marca: <%= usuario.marca %></p>
                        <p id="prize-<%= usuario.id %>" class="product-price">Precio: S/.<%= usuario.precio %></p>
                        
                    </div>
                    <div class="botones-producto">
                        <button data-id="<%= usuario.id %>" data-nombre="<%= usuario.producto %>"
                            data-precio="<%= usuario.precio %>" data-stock="<%= usuario.stock %>"
                            data-marca="<%= usuario.marca %>" data-categoria="<%= usuario.categoria %>"
                            onclick="editarProducto('<%= usuario.id %>')">
                            Editar
                        </button>
                    </div>
                    <dialog class="container" id="modal-editar-<%= usuario.id %>">
                        <div class="form-container sign-in" id="form-editar">
                            <form onsubmit="guardarCambios(event, '<%= usuario.id %>')">
                                <h1>Editar Producto</h1>
                                <input type="hidden" name="id" id="id-editar-<%= usuario.id %>">
                                <div class="input-group">
                                    <span>Nombre:</span>
                                    <input type="text" id="nombre-<%= usuario.id %>" name="nombre"
                                        placeholder="Nombre del producto">
                                </div>
                                <div class="input-group">
                                    <span>Stock:</span>
                                    <input type="number" id="stock-<%= usuario.id %>" name="stock" placeholder="Stock">
                                </div>
                                <div class="input-group">
                                    <span>Categoria:</span>
                                    <input type="text" id="categoria-<%= usuario.id %>" name="categoria"
                                    placeholder="Categoria">
                                </div>
                                <div class="input-group">
                                    <span>Marca:</span>
                                    <input type="text" id="marca-<%= usuario.id %>" name="marca" placeholder="Marca">
                                </div>
                                
                                <div class="input-group">
                                    <span>Precio:</span>
                                    <div class="money-input">
                                        <span class="currency-symbol">S/</span>
                                        <input type="number" id="precio-<%= usuario.id %>" name="precio" placeholder="0.00" step="0.50" min="0">
                                    </div>
                                    
                                </div>
                                <button id="guardar-cambios-<%= usuario.id %>" type="submit">Guardar
                                    Cambios</button>
                                <button type="button" onclick="closeDialog('<%= usuario.id %>')"">Cerrar</button>
                            </form>
                        </div>
                        <div class=" toggle-container">
                                    <div class="toggle-panel toggle-right">
                                        <div class="imagenProduct">
                                            <!-- Imagen del producto cargada dinámicamente con JavaScript -->
                                            <img src="<%= usuario.imagen %>" id="imagenProducto-<%= usuario.id %>"
                                                data-url="<%= usuario.imagen %>" alt="Imagen del producto">
                                        </div>
                                        <button id="register-<%= usuario.id %>"
                                            onclick="activarCargarImagen('<%= usuario.id %>')">Cambiar
                                            Imagen</button>
                                        <input type="file" id="nuevaImagen-<%= usuario.id %>" class="hidden"
                                            onchange="cambiarImagen(event, '<%= usuario.id %>')">
                                    </div>
                        </div>
                    </dialog>
                </div>
                <% }) %>
        </div>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/editarProducto.js"></script>
    <script src="../js/modalEditarProducto.js"></script>
    <script src="../js/eliminarProducto.js"></script>
    <script src="../js/checkbox.js"></script>
    <script src="./js/firebase/logOut.mjs" type="module"></script>
</body>

</html>